.img-main {
    display: block;
    width: 100%;
    margin: auto;
}

.img-main .normal {
    display: block;
    margin: auto;
    max-width: 100%;
}

.img-main .pequena {
    margin: auto;
    max-width: 350px;
    display: block;
}