.main {
    background-color: var(--cor1);
    margin: auto;
    padding: 30px;
    align-items: center;
    text-align: justify;
}

.main .titulo-main {
    text-align: center;
    font-family: var(--fonte-android);
}

.telapadrao {
    min-width: 300px;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
    background-color: white;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.telaverde {
    padding: 50px;
    margin: auto;
    background-color: var(--cor4);
    min-width: 300px;
    max-width: 1000px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.telaverde2 {
    padding: 50px;
    margin: auto;
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 1000px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.derivado {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}